In [136]:
import pandas as pd

In [137]:
bond = pd.read_csv("jamesbond.csv")
bond

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [138]:
bond.set_index("Film", inplace= True)

In [139]:
bond.loc["Goldfinger"]

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [140]:
bond = pd.read_csv("jamesbond.csv")

bond.loc[15]
bond.iloc[15]

Film                 A View to a Kill
Year                             1985
Actor                     Roger Moore
Director                    John Glen
Box Office                      275.2
Budget                           54.5
Bond Actor Salary                 9.1
Name: 15, dtype: object

In [141]:
bond.set_index("Film", inplace= True)
bond.sort_index(inplace = True)

In [142]:
bond.iloc[14]

Year                        1983
Actor                Roger Moore
Director               John Glen
Box Office                 373.8
Budget                      53.9
Bond Actor Salary            7.8
Name: Octopussy, dtype: object

In [143]:
bond.loc["Octopussy"]

Year                        1983
Actor                Roger Moore
Director               John Glen
Box Office                 373.8
Budget                      53.9
Bond Actor Salary            7.8
Name: Octopussy, dtype: object

In [144]:
# bond.loc["Octopussy"]

In [145]:
bond.ix[14]

/home/suresh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Year                        1983
Actor                Roger Moore
Director               John Glen
Box Office                 373.8
Budget                      53.9
Bond Actor Salary            7.8
Name: Octopussy, dtype: object

In [146]:
bond.loc["Octopussy",["Actor","Year"]]

Actor    Roger Moore
Year            1983
Name: Octopussy, dtype: object

In [147]:
bond.iloc[14,[1,2,4]]

Actor       Roger Moore
Director      John Glen
Budget             53.9
Name: Octopussy, dtype: object

In [148]:
bond.iloc[14,[1]] = "Sir Roger Moore"

In [149]:
bond["Actor"].unique()

array(['Roger Moore', 'Daniel Craig', 'David Niven', 'Sean Connery',
       'Pierce Brosnan', 'Timothy Dalton', 'Sir Roger Moore',
       'George Lazenby'], dtype=object)

In [150]:
mask = bond["Actor"] == "Sean Connery"

In [151]:
bond[mask]["Actor"] = "Sir Sean Connery"

/home/suresh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [152]:
df2 = bond["Actor"]
df2[mask]["Actor"] = "Sir Sean Connery"

In [153]:
df2

Film
A View to a Kill                       Roger Moore
Casino Royale                         Daniel Craig
Casino Royale                          David Niven
Diamonds Are Forever                  Sean Connery
Die Another Day                     Pierce Brosnan
Dr. No                                Sean Connery
For Your Eyes Only                     Roger Moore
From Russia with Love                 Sean Connery
GoldenEye                           Pierce Brosnan
Goldfinger                            Sean Connery
Licence to Kill                     Timothy Dalton
Live and Let Die                       Roger Moore
Moonraker                              Roger Moore
Never Say Never Again                 Sean Connery
Octopussy                          Sir Roger Moore
On Her Majesty's Secret Service     George Lazenby
Quantum of Solace                     Daniel Craig
Skyfall                               Daniel Craig
Spectre                               Daniel Craig
The Living Daylights                Timothy Dalton
The Man with the Golden Gun            Roger Moore
The Spy Who Loved Me                   Roger Moore
The World Is Not Enough             Pierce Brosnan
Thunderball                           Sean Connery
Tomorrow Never Dies                 Pierce Brosnan
You Only Live Twice                   Sean Connery
Name: Actor, dtype: object

In [154]:
bond = pd.read_csv("jamesbond.csv")
bond.rename(columns={"Year":"Release Date"})

,Film,Release Date,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [155]:
bond.columns

Index(['Film', 'Year', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [156]:
# bond.drop("A View To Kill")

# bond.drop("Box Office", axis = 1)

In [157]:
bond = pd.read_csv("jamesbond.csv")

In [158]:
bond.sample()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [159]:
bond.sample(5)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

bond.sample()

In [160]:
bond.sample(frac= .25)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5

In [161]:
bond.nlargest(n = 4 , columns= "Box Office")

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [162]:
bond = pd.read_csv("jamesbond.csv")

In [163]:
mask = bond["Actor"] == "Sean Connery"
bond[mask]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN

In [164]:
# bond.where()

In [165]:
bond.columns = [column_name.replace(" ","_") for column_name in bond.columns]

In [166]:
bond.head()

,Film,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [167]:
bond.query("Box_Office > 500")

,Film,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [168]:
# def convert_to_millions(number):
#    return str(number) + " Millions!"

In [169]:
# bond["Box Office"] = bond["Box Office"].apply(convert_to_millions)
# bond["Box Office"]

In [170]:
directors = bond["Director"]

In [171]:
directors = bond["Director"].copy()

In [172]:
directors

0          Terence Young
1          Terence Young
2           Guy Hamilton
3          Terence Young
4             Ken Hughes
5          Lewis Gilbert
6          Peter R. Hunt
7           Guy Hamilton
8           Guy Hamilton
9           Guy Hamilton
10         Lewis Gilbert
11         Lewis Gilbert
12             John Glen
13        Irvin Kershner
14             John Glen
15             John Glen
16             John Glen
17             John Glen
18       Martin Campbell
19    Roger Spottiswoode
20         Michael Apted
21          Lee Tamahori
22       Martin Campbell
23          Marc Forster
24            Sam Mendes
25            Sam Mendes
Name: Director, dtype: object

In [173]:
directors["Sam Mendes"] = "Sit Sam Mendes"

In [174]:
directors

0                  Terence Young
1                  Terence Young
2                   Guy Hamilton
3                  Terence Young
4                     Ken Hughes
5                  Lewis Gilbert
6                  Peter R. Hunt
7                   Guy Hamilton
8                   Guy Hamilton
9                   Guy Hamilton
10                 Lewis Gilbert
11                 Lewis Gilbert
12                     John Glen
13                Irvin Kershner
14                     John Glen
15                     John Glen
16                     John Glen
17                     John Glen
18               Martin Campbell
19            Roger Spottiswoode
20                 Michael Apted
21                  Lee Tamahori
22               Martin Campbell
23                  Marc Forster
24                    Sam Mendes
25                    Sam Mendes
Sam Mendes        Sit Sam Mendes
Name: Director, dtype: object

In [175]:
bond

,Film,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN